{% extends 'base/base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="col-md-12 p-1 p-lg-3 row d-flex justify-content-between m-0">
    <div class="col-md-4">
        <div class="card">
          <div class="card-body d-flex justify-content-between align-items-between flex-row">
            <h4>{{ user.username }}</h4>
            <a href="{% url 'logout'%}" class="btn btn-info ml-auto">Logout</a>
          </div>
        </div>
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h2>Create transaction</h2>
            </div>
            <div class="card-body">
                <form method="post" class=' d-flex flex-column justify-content-between'>
                    {% csrf_token %}
                    <div class="form-group d-flex flex-column mx-3 {% if form.username.errors %}has-error {% endif %}">
                        <label>Wallet:</label>
                        {% if form.wallet.errors %}
                            {{form.wallet.errors}}
                        {% endif %}
                        {{ form.wallet }}
                    </div>
                    <div class="form-group d-flex flex-column mx-3 {% if form.recipient_address.errors %}has-error {% endif %}">
                        <label>Recipient address:</label>
                        {% if form.recipient_address.errors %}
                            {{form.recipient_address.errors}}
                        {% endif %}
                        {{ form.recipient_address }}
                    </div>
                    <div class="form-group d-flex flex-column mx-3 {% if form.amount.errors %}has-error {% endif %}">
                        <label>Amount:</label>
                        {% if form.amount.errors %}
                            {{form.amount.errors}}
                        {% endif %}
                        {{ form.amount }}
                    </div>
                    <div class="form-group d-flex flex-column mx-3 {% if form.amount.errors %}has-error {% endif %}">
                        <button type="submit" class='btn btn-primary mt-2'>Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card ">
            <div class="card-header d-flex justify-content-between">
                <h2>Transaction list</h2>
            </div>
            <div class="card-body">
                <div class="container overflow-auto">
                    <table class="table table-striped text-nowrap">
                      <thead>
                        <tr>
                          <th>Wallet</th>
                          <th>Recipient Address</th>
                          <th>Amount</th>
                          <th>Created At</th>
                          <th>Status</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for transaction in page_obj %}
                          <tr>
                            <td>{{ transaction.wallet }}</td>
                            <td>{{ transaction.recipient_address }}</td>
                            <td>{{ transaction.amount }}</td>
                            <td>{{ transaction.created_at|date:'d-m-Y H:i:s' }}</td>

                            {% if transaction.status == transaction.Status.CANCELED %}
                                <td class='text-danger'>{{ transaction.get_status_display }}</td>
                            {% elif transaction.status == transaction.Status.APPROVED  %}
                                <td class='text-success'>{{ transaction.get_status_display }}</td>
                            {% else %}
                                <td class='text-warning'>{{ transaction.get_status_display }}</td>
                            {% endif %}
                            <td>
                                {% if transaction.status == transaction.Status.CREATED %}   
                                    <button type="button" class="btn btn-danger btn-sm " data-toggle="modal" data-target="#cancelModal{{ transaction.pk }}">
                                        Cancel
                                    </button>
                                    {% include 'modals/cancel_modal.html' with transaction=transaction %}
                                {% endif %}
                            </td>
                            <td>
                                {% if transaction.status == transaction.Status.CREATED and request_user != transaction.user %}  
                                    <button type="button" class="btn btn-success btn-sm " data-toggle="modal" data-target="#approveModal{{ transaction.pk }}">
                                        Approve
                                    </button>
                                    {% include 'modals/approve_modal.html' with transaction=transaction %}
                                {% endif %}
                            </td>
                          </tr>
                          <!-- End of modal -->
                        {% empty %}
                          <tr>
                            <td colspan="4">No transactions available.</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="pagination justify-content-center mt-3">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                          </li>
                        {% else %}
                          <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                          </li>
                        {% endif %}
                
                        {% for num in page_obj.paginator.page_range %}
                          {% if page_obj.number == num %}
                            <li class="page-item active">
                              <span class="page-link">{{ num }}</span>
                            </li>
                          {% else %}
                            <li class="page-item">
                              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                          {% endif %}
                        {% endfor %}
                
                        {% if page_obj.has_next %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                          </li>
                        {% else %}
                          <li class="page-item disabled">
                            <span class="page-link">Next</span>
                          </li>
                        {% endif %}
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    select{
        padding: 4px 2px;
    }
</style>
{% endblock content %}

