{% extends 'base/base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="col-md-12 p-5 row d-flex justify-content-between">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h2>Create transaction</h2>
            </div>
            <div class="card-body">
                <form method="post" class=' d-flex flex-column justify-content-between'>
                    {% csrf_token %}
                    <div class="form-group d-flex flex-column mx-3 {% if form.username.errors %}has-error {% endif %}">
                        <label>Wallet:</label>
                        {% if form.wallet.errors %}
                            {{form.wallet.errors}}
                        {% endif %}
                        {{ form.wallet }}
                    </div>
                    <div class="form-group d-flex flex-column mx-3 {% if form.recipient_address.errors %}has-error {% endif %}">
                        <label>Recipient address:</label>
                        {% if form.recipient_address.errors %}
                            {{form.recipient_address.errors}}
                        {% endif %}
                        {{ form.recipient_address }}
                    </div>
                    <div class="form-group d-flex flex-column mx-3 {% if form.amount.errors %}has-error {% endif %}">
                        <label>Amount:</label>
                        {% if form.amount.errors %}
                            {{form.amount.errors}}
                        {% endif %}
                        {{ form.amount }}
                    </div>
                    <div class="form-group d-flex flex-column mx-3 {% if form.amount.errors %}has-error {% endif %}">
                        <button type="submit" class='btn btn-primary mt-2'>Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card ">
            <div class="card-header d-flex justify-content-between">
                <h2>Transaction list</h2>
            </div>
            <div class="card-body">
                <div class="container">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Wallet</th>
                          <th>Recipient Address</th>
                          <th>Amount</th>
                          <th>Created At</th>
                          <th>Cancel</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for transaction in page_obj %}
                          <tr>
                            <td>{{ transaction.wallet }}</td>
                            <td>{{ transaction.recipient_address }}</td>
                            <td>{{ transaction.amount }}</td>
                            <td>{{ transaction.created_at|date:'d-m-Y i:s' }}</td>
                            <td>
                                {% if transaction.status == transaction.Status.CREATED %}   
                                    <button type="button" class="btn btn-danger btn-sm " data-toggle="modal" data-target="#cancelModal{{ transaction.pk }}">
                                        Cancel
                                    </button>
                                {% endif %}
                            </td>
                          </tr>
                          <!-- Modal for cancel confirmation -->
                          {% if transaction.status == transaction.Status.CREATED %}
                            <div class="modal fade" id="cancelModal{{ transaction.pk }}" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel{{ transaction.pk }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="cancelModalLabel{{ transaction.pk }}">Cancel Transaction</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                    <p>Are you sure you want to cancel this transaction?</p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a href="{% url 'cancel_transaction' transaction.pk %}" class="btn btn-danger">Cancel Transaction</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                          {% endif %}
                          <!-- End of modal -->
                        {% empty %}
                          <tr>
                            <td colspan="4">No transactions available.</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <div class="pagination justify-content-center">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                              <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                              </li>
                            {% else %}
                              <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                              </li>
                            {% endif %}
                    
                            {% for num in page_obj.paginator.page_range %}
                              {% if page_obj.number == num %}
                                <li class="page-item active">
                                  <span class="page-link">{{ num }}</span>
                                </li>
                              {% else %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                              {% endif %}
                            {% endfor %}
                    
                            {% if page_obj.has_next %}
                              <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                              </li>
                            {% else %}
                              <li class="page-item disabled">
                                <span class="page-link">Next</span>
                              </li>
                            {% endif %}
                          </ul>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<style>
    select{
        padding: 4px 2px;
    }
</style>
{% endblock content %}

